<script src="{{{uiRootPath}}}/js/site.js"></script>
<script async src="{{{uiRootPath}}}/js/vendor/highlight.js"></script>
<script async src="{{uiRootPath}}/js/vendor/clipboard.js"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>




<script type="text/javascript"> docsearch({
        appId: 'I8ZA7LF7BY',
        apiKey: 'c1f47719c6fc53088f0944978e15a340',
        indexName: 'major-tom-docs',
        inputSelector: '#searchBar',
        algoliaOptions: { hitsPerPage: 10 },
    });
</script>
