<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{{siteRootPath}}}/index.html">
        <img class="logo" src="{{{uiRootPath}}}/img/magnolia-medium-white.png" style="width: 9rem; height:auto; margin-left:0.8rem; margin-top:0.4rem;" alt="Magnolia"> Docs
      </a>
            
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      {{> search}}
      <div class="navbar-end">
        <a href="{{{siteRootPath}}}/services-cloud/get-started/index.html" class="navbar-item">Starter Pack <i class="fa fa-rocket fa-2x" aria-hidden="true"></i></a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a href="#" class="navbar-link">Docs <i class="arrow down"></i></a>
          <div class="navbar-dropdown">
            <a href="{{{siteRootPath}}}/services-cloud/index.html" class="navbar-item">Introducing Services Cloud</a>
            <a href="{{{siteRootPath}}}/services-cloud/ui/index.html" class="navbar-item">The UI</a>
            <a href="{{{siteRootPath}}}/services-cloud/troubleshooting/index.html" class="navbar-item">Troubleshoot</a>
            <a href="{{{siteRootPath}}}/services-cloud/faqs.html" class="navbar-item">FAQs</a>
          </div>
        </div>
        {{!-- <a href="{{{siteRootPath}}}/services-cloud/Getting-started-with-Magnolia/Installing-Magnolia.html" class="navbar-item">Magnolia Docs</a> --}}
        {{!-- <a class="navbar-item" href="{{{siteRootPath}}}/product-docs/Releases.html">Releases</a>
        <a class="navbar-item" href="{{{siteRootPath}}}/product-docs/Getting-started-with-Magnolia/Hello-Magnolia.html">Get Started</a>
        <a class="navbar-item" href="{{{siteRootPath}}}/product-docs/Magnolia-Cloud.html">Magnolia Cloud</a>
        <a class="navbar-item" href="https://hd.magnolia-cms.com/docs/introduction/" target="_blank">Headless</a> --}}
        <div class="navbar-item">
          <span class="control">
            <a class="button is-primary" href="https://www.magnolia-cms.com/product/cloud.html" target="_blank">Get Magnolia Cloud <i class="fa fa-external-link-square" aria-hidden="true"></i></a>
          </span>
        </div>
      </div>
    </div>
  </nav>
  {{!-- <div class="lower-head">
    
  </div> --}}
</header>

